   <footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">YouBlogs</h5>
                <p class="grey-text text-lighten-4">Python Django Project by Darshan Nair.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/Dash074">GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/darshannair74/">LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2024 Copyrights
            <a class="grey-text text-lighten-4 right" href="/home">Visit Again</a>
            </div>
          </div>
        </footer>